<h1>All shop <%= link_to icon('fas', 'plus'), new_shop_path %></h1>

<ul>
  <% @shops.each do |shop| %>
    <li><%= link_to shop.name, shop_path(shop) %></li>
  <% end %>
</ul>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
