.product-header {
  border-radius: 5px;
  overflow: hidden;
  img {
    height: 175px;
    object-fit: cover;
  }
}

.cart-button {
  background-color: #fec043;
  color: white;
  border-radius: 5px;
  &:hover {
    color: white;
    background-color: #2f4858;
  }
}

.product-photos {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
