<div class="footer">

  <div class="footer-follow w200">
    <h5>Follow us</h5>
    <ul>
      <li><a href="https://www.instagram.com/shoplocally.xyz/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
      <li><a href="https://www.facebook.com/ShopLocally.xyz/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
    </ul>
  </div>

  <div class="footer-about w200">
    <h5>About</h5>
    <ul>
      <li>
        <a href="#" class="tab-underlined">Become a member</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">FAQ</a>
      </li>
    </ul>
  </div>

  <div class="footer-community w200">
    <h5>Community</h5>
    <ul>
      <li>
        <a href="https://www.ikkooplokaal.be/ik-ben-winkelier" target="_blank" class="tab-underlined">I am a retailer</a>
      </li>
      <li>
        <a href="https://www.ikkooplokaal.be/ik-ben-consument" target="_blank" class="tab-underlined">I am a consumer</a>
      </li>
    </ul>
  </div>

  <div class="footer-support w200">
    <h5>Support</h5>
    <ul>
      <li>
      <a href="https://www.vlaio.be/nl/andere-doelgroepen/flanders-innovation-entrepreneurship/information-support-and-advice/discover-how" target="_blank" class="tab-underlined">Advice</a>
      </li>
      <li>
      <a href="https://economie.fgov.be/fr/themes/entreprises/coronavirus/activites-economiques/coronavirus-conseils-pour-les-0" target="_blank" class="tab-underlined">Covid guide </a>
      </li>
    </ul>
  </div>
</div>
