// .container_footer {
//   display: flex;
//   justify-content: space-between;
// }

.footer {
  padding-top: 15px;
  color: #fdbf43;
  background-color: #2e4857;
  flex-wrap: wrap;

  ul {
    list-style: none;
    padding-left: 0px;
  }

  ul li a {
    color: #fff;
    font-size: 0.8em;
    &:hover {
      color: #fdbf43;
      font-size: 0.8em;
    }
  }
}
