.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.product-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.product-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.product-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.product-card .product-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.product-card-infos .product-card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
