.card-shop {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: all ease 0.2s;
  &:hover {
    transform: scale(1.02);
  }
}

.card-shop img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-shop h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-shop p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-shop .card-shop-infos {
  padding: 16px;
}

