<% unless @shop.nil? %>
  <%= link_to  icon('fas', 'plus', 'Add a product'), new_shop_product_path(@shop), class: "btn btn-primary" if current_user == @shop.user %>
<% end %>

<div class="row mt-4">
  <% products.each do |product| %>
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <%= render 'products/product_card', product: product %>
    </div>
  <% end %>
</div>
