<h1>Products#index <%= link_to  icon('fas', 'plus'), new_shop_product_path %></h1>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, shop_product_path(product.shop, product) %></li>
  <% end %>
</ul>
