<h1>
  Products#show
  <%= link_to  icon('fas', 'edit'), edit_shop_product_path(@product.shop, @product) %>
  <%= link_to  icon('fas', 'trash-alt'), product_path(@product) , method: :delete, data: { confirm: "Are you sure ?"} %>
</h1>

<% if @product.photos.attached? %>  
  <% @product.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>

<p><%= @product.name %></p>
